


<div class="order">
    <div class="label">
        CHOOSE CUSTOMER
    </div>
    <ion-item>
        <ion-label fixed>CHOOSE CUSTOMER</ion-label>
        <ion-select [(ngModel)]="chosenBeneficiary" >
            <ion-option required *ngFor="let bnf of beneficiarys" [value] ="bnf" >{{bnf.name}}</ion-option>
        </ion-select>
    </ion-item>
    <div class="label mb-20">
        ADJUST QUANTITY
    </div>
    <div>
        <ion-label stacked>Samuel Adams – $12.95</ion-label>
        <ion-range min="0" max="100" pin="true" [(ngModel)]="amountSamuelAdams" color="secondary">
        </ion-range>
    </div>
    <div>
        <ion-label stacked>Budweiser – $9.95</ion-label>
        <ion-range min="0" max="100" pin="true" [(ngModel)]="amountBudweiser" color="secondary">
        </ion-range>
    </div>
    <div>
        <ion-label stacked>Guiness – $15.99</ion-label>
        <ion-range min="0" max="100" pin="true" [(ngModel)]="amountGuiness" color="secondary">
        </ion-range>
    </div>
    <div class="order-info">
        <div>
            Invoice #{{invoiceNumber}} for
            <div *ngIf="amountSamuelAdams || amountBudweiser || amountGuiness">
                <span class="info">{{amountSamuelAdams}}</span>
                Samuel Adams ,
                <span class="info">{{amountBudweiser}}</span>
                Budweiser and <span class="info">{{amountGuiness}}</span>
                Guiness px to the total amount of <span class="info">{{amountSamuelAdams*12.95+amountBudweiser*9.95+amountGuiness*15.99| currency}}</span>
            </div>
            <div *ngIf="!amountSamuelAdams && !amountBudweiser && !amountGuiness">
                <span class="info">
                    /
                </span>
                beers to the total amount of
                <span class="info">
                    /
                </span>
            </div>
            to be paid by
            <span class="info" *ngIf="chosenBeneficiary.name">{{chosenBeneficiary.name}}</span>
            <span class="info" *ngIf="!chosenBeneficiary.name">/</span>
            on {{today | date:'shortDate'}}.
        </div>
    </div>
    <div class="buttons-wrap">
        <button (click)="submit()" [disabled]="(!amountGuiness*!amountBudweiser*!amountSamuelAdams)||!chosenBeneficiary.name" class="submit-button">SEND PAYMENT REQUEST</button>
        <button class="cancel-button" (click)="chosenBeneficiary = false;amountGuiness = 0; amountSamuelAdams=0; amountBudweiser=0; " >CANCEL</button>
    </div>
</div>
