<ion-content>
    <div class="main-wrapper">
        <div class="header">

        </div>
        <div class="top-buttons">
            <button *ngFor="let p of pages" (click)="openPage(p)" [ngClass]="{'nav-button':true,'active':(p.name == show)}">
                {{p.title}}
            </button>
        </div>


        <page-home  *ngIf="show == 'home'">
        </page-home>
        <status *ngIf="show == 'status'">
        </status>

        <button (click)="hideStart = true" *ngIf="!hideStart" [ngClass]="['popup-start']">
            <div class="wrap">
                START
            </div>
        </button>
    </div>
</ion-content>
